@inherits LayoutComponentBase
@using WebUI.Components

<div class="page">
    <TopBar />
    <Header />
    <BrandSlider />

    <main>
        @Body
    </main>

    <Footer />
</div>

<ToastNotification />